In [10]:
import pandas as pd

In [11]:
meias = pd.read_csv('Dados/meia.csv')

In [12]:
meias.head()

,apelido,clube,posicao,preco,pontos,variacao,media,rodada,jogos
0,Juninho,América-MG,Meia,3.97,0.7,-1.03,0.7,1,1
1,Zé Rafael,Palmeiras,Meia,5.71,0.2,-2.29,0.2,1,1
2,Raphael Veiga,Palmeiras,Meia,12.53,3.0,-2.47,3.0,1,1
3,Wagner,Juventude,Meia,5.00,0.0,0.00,0.0,1,0
4,Benítez,São Paulo,Meia,9.00,0.0,0.00,0.0,1,0

<h1>Maior pontuação

In [18]:
meias[meias['pontos'] == meias['pontos'].max()]

      apelido  clube posicao  preco  pontos  variacao  media  rodada  jogos
128  Thaciano  Bahia    Meia  16.71    18.0     10.71   18.0       1      1