In [1]:
import pandas as pd

In [2]:
tecnicos = pd.read_csv('Dados/Tecnico.csv')

In [3]:
tecnicos.head()

,apelido,clube,posicao,preco,pontos,variacao,media,rodada,jogos
0,Dado Cavalcanti,Bahia,Tecnico,7.12,6.23,3.12,6.23,1,1
1,Hernán Crespo,São Paulo,Tecnico,10.81,5.53,0.81,5.53,1,1
2,Miguel Ángel Ramírez,Internacional,Tecnico,6.96,1.99,-1.04,1.99,1,1
3,Umberto Louzer,Sport,Tecnico,3.82,3.49,1.82,3.49,1,1
4,Abel Ferreira,Palmeiras,Tecnico,10.29,2.78,-1.71,2.78,1,1

<h1>Maior pontuação

In [4]:
tecnicos[tecnicos['pontos'] == tecnicos['pontos'].max()]

,apelido,clube,posicao,preco,pontos,variacao,media,rodada,jogos
10,Maurício Barbieri,Bragantino,Tecnico,10.96,8.74,3.96,8.74,1,1